@model incidents.Models.registro

<div class="row">
    <div class="col-12 text-center" style="color:red;">
        @ViewBag.Message
    </div>
</div>
<div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">

        <div class="card">
            <div class="card-header">
                Register new user account
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="">
                        <form asp-action="SaveNewRegister">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="name" class="control-label"></label>
                                <input asp-for="name" class="form-control" />
                                <span asp-validation-for="name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="lastname" class="control-label"></label>
                                <input asp-for="lastname" class="form-control" />
                                <span asp-validation-for="lastname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="phone" class="control-label"></label>
                                <input asp-for="phone" class="form-control" />
                                <span asp-validation-for="phone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="email" class="control-label"></label>
                                <input asp-for="email" class="form-control" type="email"/>
                                <span asp-validation-for="email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="username" class="control-label"></label>
                                <input asp-for="username" class="form-control" />
                                <span asp-validation-for="username" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="password" class="control-label"></label>
                                <input asp-for="password" class="form-control" type="password"/>
                                <span asp-validation-for="password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Department</label>
                                <select asp-for="department" class="form-control">
                                    <option value="">Select as option</option>
                                    @foreach (department d in Model.departments)
                                    {
                                        <option value="@d.name">@d.name</option>
                                    }
                                </select>
                                <span asp-validation-for="department" class="text-danger"></span>
                            </div>
                            <div class="row">
                                &nbsp;
                            </div>
                            <div class="row">
                                <div class="col-6 text-center">
                                    <div class="btn btn-info">
                                    <a asp-controller="Home" asp-action="Index" class="text-white" style="text-decoration:none;">
                                            <i class="bi bi-caret-left"></i>
                                            Back
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 text-center">
                                    <div class="btn btn-primary">
                                        <i class="bi bi-cloud-arrow-down"></i>
                                        <input type="submit" value="Save" class="text-white" style="border-top: 0px;border-right: 0px;border-bottom: 0px;border-left: 0px;background-color:transparent;" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="col-md-3">&nbsp;</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
