@model response_sql

<div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">

        <div class="card">
            <div class="card-header">
                Register for <b>@Model.valor</b>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-12 text-center">
                        Register status @Model.message
                    </div>
                </div>

                <div class="row">&nbsp;</div>

                <div class="row">
                    <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">
                        <i class="bi bi-caret-left"></i>
                        Back
                    </a>
                </div>

            </div>
        </div>

    </div>
    <div class="col-md-3">&nbsp;</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

